[Unit]
Description=SHATROX Volume Monitor (Speaker volume watcher)
After=shatrox-display.service
Wants=shatrox-display.service

[Service]
Type=simple
ExecStart=/usr/local/bin/shatrox-volume-monitor
Restart=always
RestartSec=3s
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
